<% include partials/header %>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-xs-8 offset-md-4 offset-xs-2">
      <form action="/login" method="post">

        <div class="form-group">
          <label for="name">username</label>
          <input class="form-control" type="text" name="username">
        </div>
        <div class="form-group">
          <label for="name">Password</label>
          <input class="form-control" type="password" name="password">
        </div>


        <div class="form-group">
          <input type="submit" class="btn btn-info btn-block" value="login">
        </div>

      </form>
    </div>
  </div>
</div>

<% include partials/footer %>